@charset "UTF-8";

*{
    font-family: Arial, Helvetica,sans-serif;

}

body{
    background-image:linear-gradient(to right,#F2668B,#025E73)  ;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15 px #0135419a ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#03A688 ;
    text-align: center;
    text-shadow: 1px 1px 2px #015546;
}

h2{
color:#011F26;
}

p {
    text-align: justify;
}